.body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
}

.delBtn,
.publishBtn,
.unpublishBtn,
.publishMsg,
.editor {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: var(--blue1);
}

.utilBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--f4);
}

.delBtn,
.publishBtn,
.unpublishBtn {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 900;
  transition: color ease-in 0.2s;
}

.delBtn {
  color: var(--pink0);
  background-color: var(--red0);
}

.delBtn:hover {
  background-color: var(--red1);
}

.publishBtn {
  color: var(--yellow0);
  background-color: var(--green1);
}

.publishBtn:hover {
  background-color: var(--green2);
}

.unpublishBtn {
  color: var(--yellow0);
  background-color: var(--blue2);
  transition: background-color ease-in 0.1s;
}

.unpublishBtn:hover {
  color: var(--orange0);
}

.editor {
  box-sizing: border-box;
  padding: 20px 15px;
  height: 100%;
  background-color: var(--blue1);
  color: var(--orange0);
  margin-bottom: 25px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header input {
  height: 100%;
  font-size: 34px;
  font-family: 'Dico';
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  padding: 4px 0;
  border: 2.7px dashed transparent;
  border-radius: 7px;
}

.header input:focus {
  outline: none;
  box-shadow: none;
  border: 2.7px dashed var(--orange0);
  background-color: rgb(0, 0, 0, 0.03);
}

.blocks {
  display: flex;
  flex-direction: column;
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  z-index: 9;
}

.confirmDelete {
  position: relative;
  width: fit-content;
  border-radius: 5px;
  padding: 18px 40px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dullRed);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: var(--yellow1);
  font-family: var(--f4);
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.confirmDelete p {
  font-family: var(--f4);
  overflow-wrap: anywhere;
}

.confirmButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.confirmButtons button {
  font-size: 20px;
  opacity: 0.9;
  transition: color ease-in 0.2s;
}

.confirmButtons button:hover {
  color: var(--purple2);
  opacity: 1;
}

.publishMsg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 150%);
  padding: 15px;
  font-family: var(--f4);
  font-size: 12px;
  text-align: center;
  width: 200px;
  animation: fadeOut 2s forwards;
  background-color: transparent;
  backdrop-filter: blur(5px);
  opacity: 0.9;
  box-shadow: none;
  border-radius: 15px;
  line-height: 1.5;
  border: 4px dashed;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.public {
  color: var(--yellow0);
}

.private {
  color: var(--yellow0);
}
