.body {
  background-color: var(--bg0_h);
  border-radius: 3px;
  padding: 15px;
}

.editor {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.008);
  border-radius: 5px;
  padding: 20px 10px;
  height: 100%;
  color: var(--fg1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.header input {
  font-size: 35px;
  font-family: 'Dico';
  font-weight: 900;
  text-align: center;
  width: 100%;
  text-decoration: underline 1.9px;
  text-underline-offset: 8px;
}

.blocks {
  display: flex;
  flex-direction: column;
}
