.aside {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  align-items: start;
  height: fit-content;
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  padding: 8px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: var(--bg0_h);
}

.item {
  font-family: 'Jetbrains Mono';
  font-weight: 600;
  font-size: 18px;
  padding: 5px 12px;
  text-align: center;
  transition: transform ease-out 0.1s;
}

.item:hover {
  transform: scale(1.02);
}

.create {
  padding: 0;
}
