@font-face {
  font-family: 'Upheaval';
  src: url('./assets/fonts/upheavtt.woff2'), format('woff2');
}

@font-face {
  font-family: 'Bitmap';
  src: url('./assets/fonts/Bitmap.woff2'), format('woff2');
}

@font-face {
  font-family: 'Calive';
  src: url('./assets/fonts/CalivepixelRegularDemo.woff2'), format('woff2');
}

@font-face {
  font-family: 'Vorline';
  src: url('./assets/fonts/VorlinepixelRegularDemo.woff2'), format('woff2');
}

body {
  --f1: 'Calive';
  --f2: 'Upheaval';
  --f3: 'Vorline';
  --f4: 'Bitmap';
  --bg0_h: #1d2021;
  --bg0: #282828;
  --bg0_s: #32302f;
  --bg1: #3c3836;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  margin: 0;
  padding: 0;
  font-family: 'Upheaval';
  background-color: var(--bg1);
  color: var(--fg1);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button,
li,
ul {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  padding: 8px 15px;
  border: none;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
}

input,
textarea {
  background-color: inherit;
  border: none;
  color: inherit;
}
