@font-face {
  font-family: 'Upheaval';
  src: url('./assets/fonts/upheavtt.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Bitmap';
  src: url('./assets/fonts/Bitmap.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calive';
  src: url('./assets/fonts/CalivepixelRegularDemo.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Vorline';
  src: url('./assets/fonts/VorlinepixelRegularDemo.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Dico';
  src: url('./assets/fonts/dico/Dico.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Ari';
  src: url('./assets/fonts/ari-w9500-woff2/ari-w9500-bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Ari';
  src: url('./assets/fonts/ari-w9500-woff2/ari-w9500-display.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

body {
  --f1: 'Calive';
  --f2: 'Upheaval';
  --f3: 'Vorline';
  --f4: 'Bitmap';
  /* NEW COLORS*/
  --bg0: #282828;
  --bgLight: #bfb2b2;
  --dark: #1d2021;
  --yellow0: #d5c4a1;
  --yellow1: #f9b45b;
  --blue0: #313948;
  --blue1: #36495d;
  --blue2: #3399b9;
  --green1: #49a46c;
  --green2: #1da853;
  --pink0: #d3869b;
  --pink1: #ec639d;
  --dullRed: #b91c57;
  --red0: #d70f5a;
  --red1: #e80c35;
  --orange0: #fbae7f;
  --orange1: #f45b54;
  margin: 0;
  padding: 0;
  font-family: 'Dico';
  background-color: var(--bgLight);
  color: var(--fg2);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button,
li,
ul {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

button {
  background-color: transparent;
  padding: 5px 12px;
  border: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
}
